.follow-btn {
    border: 1px solid $brand;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    border-radius: 4px;
    padding: 0 10px;
    box-sizing: border-box;
    line-height: 18px;
    color: $brand;
    &:hover {
        color: darken($brand, 10);
        border-color: darken($brand, 10);
    }
}