$black: rgba(0, 0, 0, .84);
$grey: rgba(0, 0, 0, .54);
$dark-grey: rgba(0, 0, 0, .68);
$light-grey: rgba(0, 0, 0, .06);
$middle-grey: rgba(0, 0, 0, .12);
$brand: rgba(1, 143, 105, 1);

$facebook:  rgba(59, 89, 152, 1);
$twitter:  rgba(29, 161, 242, 1);
$google:  rgba(219, 68, 55, 1);
$linked: rgba(0, 123, 181, 1);
$email: rgba(51, 209, 107, 1.0);

$comment-user: rgba(80, 106, 154, 1);