// Navigation Variables
$content-width: 1000px;
$breakpoint: 600px;

// Outer navigation wrapper
.navigation {
    height: auto;
    width: 100%;
    border-bottom: 1px solid $brand;
    background-color: white;
    box-sizing: border-box;
}

// Container with no padding for navbar
.header-container {
    max-width: $content-width;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px 6px;
  }

// Logo and branding
.brand {
    a {line-height: 0}
    img {width: 200px}
}

// Navigation 
nav {
    ul {
        list-style: none;
        margin: 0;
        li {
            display: inline;
            text-align: center;
            padding-left: 12px;
            a, a:visited {
                color: $black;
                text-decoration: none;
                &:hover {color: lighten($black, 10)}
            }
        }
    }
}

.nav-user {
    width: 32px;
    vertical-align: middle;
}

nav .fa {
    color: $grey;
    font-size: 21px;
    vertical-align: middle;
    &:hover {
        color: $dark-grey;
    }
}