// Navigation Variables
$content-width: 1000px;
$breakpoint: 600px;
$nav-height: 50px;
$nav-font-color: $black;

// Outer navigation wrapper
.navigation {
    height: auto;
    width: 100%;
    border-bottom: 2px solid black;
    background-color: white;
}

// Container with no padding for navbar
.header-container {
    max-width: $content-width;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

// Logo and branding
.brand {
    padding: 6px 0 0 20px;
    a {
        margin: 0;
        padding: 0;
        line-height: 0;
    }
    img {
        width: 200px;
    }
}

// Navigation 
nav {
    ul {
        list-style: none;
        margin: 0;
        padding: 12px 0;
        li {
            display: inline;
            text-align: center;
            a, a:visited {
                padding-left: 20px;
                color: $nav-font-color;
                text-decoration: none;
                &:hover {color: lighten($nav-font-color, 10)}
            }
        }
    }
}

