// Navigation Variables
$content-width: 1000px;
$breakpoint: 600px;
$nav-height: 50px;
$nav-font-color: $black;

// Outer navigation wrapper
.navigation {
    height: auto;
    width: 100%;
    border-bottom: 1px solid $brand;
    background-color: white;
    box-sizing: border-box;
}

// Container with no padding for navbar
.header-container {
    max-width: $content-width;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 20px 4px;
  }

// Logo and branding
.brand {
    a {line-height: 0}
    img {width: 200px}
}

// Navigation 
nav {
    ul {
        list-style: none;
        margin: 0;
        li {
            display: inline;
            text-align: center;
            line-height: 0;
            a, a:visited {
                line-height: 0;
                color: $nav-font-color;
                text-decoration: none;
                &:hover {color: lighten($nav-font-color, 10)}
            }
        }
    }
}

.nav-user {width: 32px}