@import "header";

main {
    margin-top: 60px;
    clear: both;
}

.container {
    max-width: 720px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  .header-content {
      padding: 35px 0 10px;
      border: 1px solid black;
      display: flex;
      &-avatar img {
          width: 60px;
      }
      &-info {
        padding-left: 15px;
      }
  }

