@import "header";

.container {
    max-width: 700px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    &-comments {
        max-width: 660px;
        margin: 0 auto;
        padding: 0 20px 80px 20px;
    }
}

.header-content {
    margin-top: 30px;
    padding: 10px 0 10px;
    display: flex;
    align-items: center;
    &-avatar img {
        width: 60px;
    }
    &-info {
        padding-left: 15px;
    }
}

.user-row {
    display: flex;
    align-items: center;
}

figure {
    margin-bottom: 38px;
    img {width: 100%}
}


.blog-list {
    .card {
        border: 1px solid rgba(0, 0, 0, .1);
    }
}

.featured-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    justify-items: stretch;
    align-items: stretch;
    margin: 0;
    padding: 0 15px;
    grid-column-gap: 15px;
    margin-top: 40px;
}

.featured {
    &-container {
        margin: 0 auto;
        max-width: 1000px;
    }
    &-card {
        height: 425px;
        position: relative;
        box-shadow: 0 1px 7px rgba(0, 0, 0, .05);
        border-radius: 4px;
        border: 1px solid rgba(0, 0, 0, .1);
        box-sizing: border-box;

        &-image {
            height: 280px;
            background-image: url('../img/hero.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center top;
        }
        &-content {
            box-sizing: border-box;
            padding: 10px 15px;
        }
        &-user {
            display: flex;
            box-sizing: border-box;
            justify-content: flex-start;
            align-items: center;
            position: absolute;
            bottom: 0;
            padding: 15px;
            left: 0;
            height: 64px;
            width: 100%;
            border-top: 1px solid lighten($grey, 90);
            img {
                width: 36px;
            }
            &-info {
                padding: 0 10px;
            }
        }
    }
    &-list {
        margin: 0;
        padding: 0;
        width: 100%;
            list-style: none;
            height: 490px;
            li {
                display: flex;
                align-items: center;
                h5 {
                    margin-top: 0;
                }
            }
            &-header {
                height: 60px;
                width: 80px;
                background-image: url('../img/hero-2.png');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center top;
            }
            &-info {

                padding: 0 10px;
            }
    }

 }


@import "footer";