@media only screen and (max-width: 845px) {
    .card-container {
        flex-wrap: wrap;
    }
    .card {
        width: 90%;
        height: 340px;
        &-image {
            height: 180px;
        }
        &-content {
            height: 160px;
        }
    }
    .user {
        padding: 0 15px;
    }
}