@media only screen and (max-width: 845px) {

    html {font-size: 15px}
    .card-container {flex-wrap: wrap}
    .user {padding: 0 15px}

    .card {
        width: 90%;
        height: 340px;
        &-image {height: 180px}
        &-content {height: 160px}
    }
}

@media only screen and (max-width: 645px) {

    html {font-size: 14px}
}

@media only screen and (max-width: 550px) {
    
    html {font-size: 13.4px}
    h1 {margin: .35em 0 .57em 0}
    p {line-height: 1.35}
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .header-container {
        padding: 10px 10px 6px;
      }
    
    .header-content {margin-top: 10px}
    .header-content-avatar img {width: 40px}
}