h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    color: $black;
    letter-spacing: 0;
    font-weight: 700;
    font-style: normal;   
    word-break: break-word;
    word-wrap: break-word; 
    text-rendering:  optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing:  grayscale;
}

h1 {
    font-size: 2.3em;
    margin: .67em 0
}

p, a {
    color: $black;
    font-family: 'Slabo 27px', serif;
    font-size: 21px;
    letter-spacing: -.003em;
    line-height: 1.58;
    text-rendering:  optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing:  grayscale;
    text-decoration: none;
}

.user-link, .user-bio, .user-time {
    font-size: 15px;
    line-height: 20px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Arial, sans-serif;
    &:hover {
        text-decoration: underline;
    }
}

.user-bio, .user-time {
    margin: 0;
    font-size: 14px;
    color: $grey;
    &:hover {
        text-decoration: none;
    }
}