hr {
    border: 0;
    height: 1px;
    max-width: 720px;
    background-color: lighten($grey , 80);
    margin-bottom: 30px;
}

.m-10 {
    margin-left: 10px;
}

.divider::before {
    content: '\00B7';
}

.avatar, .logo {
    pointer-events: none;
}

img {
    cursor: zoom-in;
}